{% extends 'navbar.html.twig' %}

{% block title %}Portfolio Paul-Henri Solat{% endblock %}

{% block content %}
    <section class="text-center container spaceFooter">
        <div class="row py-lg-5" id="spawn">
            <div class="col-lg-9 col-md-8 mx-auto" style="background-color: #343434">
                <br>
                <h1 class="fw-light typewriter titre toB">- Outils développement -</h1>
                <br>
                <p class="lead text-muted">-Framework(symfony)/IDE(netbeans)/gestionVersion(github)/langageProgrammation(C#)-</p>
                <p class="lead text-muted"><g>Compétences acquises : </g>Durant mon bts et mes stages j'ai utilisé ces outils pour mes différentes taches.</p>
            </div>
        </div>
        <div class="row py-lg-5" id="spawn">
            <div class="col-lg-9 col-md-8 mx-auto" style="background-color: #343434">
                <div class="d-flex justify-content-center bd-highlight mb-3">
                    <div class="p-2 bd-highlight"><h1>Netbeans</h1><p>NetBeans est un environnement de développement intégré, placé en open source.</p></div>
                    <div class="p-2 bd-highlight"><img class="d-block w-50 rounded float-right" src="{{asset('assets/image/netbeans.png')}}" alt="photo gsb"></div>
                </div>
                <div class="d-flex justify-content-center bd-highlight mb-3">
                    <div class="p-2 bd-highlight"><h1>GitHub</h1><p>GitHub est une plate-forme d'hébergement de code pour le contrôle de version et la collaboration..</p></div>
                    <div class="p-2 bd-highlight"><img class="d-block w-50 rounded float-right" src="{{asset('assets/image/github.png')}}" alt="photo gsb"></div>
                </div>
                <div class="d-flex justify-content-center bd-highlight mb-3">
                    <div class="p-2 bd-highlight"><h1>Trello</h1><p>Trello est un outil de gestion de projet en ligne.</p></div>
                    <div class="p-2 bd-highlight"><img class="d-block w-50 rounded float-right" src="{{asset('assets/image/trello.png')}}" alt="photo gsb"></div>
                </div>
                <div class="d-flex justify-content-center bd-highlight mb-3">
                    <div class="p-2 bd-highlight"><h1>MySqlWorkbench</h1><p>MySQL Workbench est un logiciel de gestion et d'administration de bases de données MySQL.</p></div>
                    <div class="p-2 bd-highlight"><img class="d-block w-50 rounded float-right" src="{{asset('assets/image/mysql.png')}}" alt="photo gsb"></div>
                </div>
                <div class="d-flex justify-content-center bd-highlight mb-3">
                    <div class="p-2 bd-highlight"><h1>Symfony</h1><p>Symfony est un ensemble de composants PHP ainsi qu'un framework MVC libre écrit en PHP.</p></div>
                    <div class="p-2 bd-highlight"><img class="d-block w-50 rounded float-right" src="{{asset('assets/image/symfony.png')}}" alt="photo gsb"></div>
                </div>
                <div class="d-flex justify-content-center bd-highlight mb-3">
                    <div class="p-2 bd-highlight"><h1>Sublimetext</h1><p>Sublime Text est un éditeur de texte générique.</p></div>
                    <div class="p-2 bd-highlight"><img class="d-block w-50 rounded float-right" src="{{asset('assets/image/sublimetext.png')}}" alt="photo gsb"></div>
                </div>
                <div class="d-flex justify-content-center bd-highlight mb-3">
                    <div class="p-2 bd-highlight"><h1>Windev</h1><p>WinDev est un atelier de génie logiciel édité par la société française PC SOFT et conçu pour développer des applications, principalement orientées données pour Windows.</p></div>
                    <div class="p-2 bd-highlight"><img class="d-block w-50 rounded float-right" src="{{asset('assets/image/windev.png')}}" alt="photo gsb"></div>
                </div>
                <div class="d-flex justify-content-center bd-highlight mb-3">
                    <div class="p-2 bd-highlight"><h1>VisualStudio</h1><p>Microsoft Visual Studio est une suite de logiciels de développement pour Window.</p></div>
                    <div class="p-2 bd-highlight"><img class="d-block w-50 rounded float-right" src="{{asset('assets/image/vs.png')}}" alt="photo gsb"></div>
                </div>
            </div>
    </section>
{% endblock %}