{% extends 'navbar.html.twig' %}

{% block title %}Portfolio Paul-Henri Solat{% endblock %}

{% block content %}
    <section class="text-center container spaceFooter">
        <div class="row py-lg-5" id="spawn">
            <div class="col-lg-9 col-md-8 mx-auto" style="background-color: #343434">
                <br>
                <h1 class="fw-light typewriter titre toB">- Synthèse de stage de 2ème année -</h1>
                <br>
                <p class="lead text-muted">J’ai effectué mon stage de deuxième année dans le service informatique de la mairie de la Seyne-sur-Mer pour une durée de 6 semaines du lundi 3 janvier au vendredi 11 février 2022, plus particulièrement dans la section développement. Effectivement cette mairie est l’une des rares possédant une équipe de développeurs, ils s’occupent du site officiel de la mairie ainsi que des outils de gestion (tickets, administration) qu'utilise la mairie, et développent des applications pour les écoles ou les associations.</p>
                <p class="lead text-muted">Pour le début de ce stage, on m’a introduit à un nouveau langage, soit le "WLangage" afin d’utiliser le logiciel de développement d’application WinDev. Ce logiciel a été créé et édité par la société française PC SOFT, il permet de développer des applications principalement orientées pour Windows, tout en utilisant une syntaxe française pour la programmation.</p>
                <p class="lead text-muted">J’ai donc commencé par  me former à l’utilisation de WinDev en passant en revue ses principales fonctionnalités, créer une application pour réaliser des tests basiques comme afficher une popup avec un bouton, ou intégrer une base de données directement sur mon application, etc…</p>
                <p class="lead text-muted">Après m'être suffisamment entrainé aux bases de WinDev, on m’a proposé pour m’entrainer de réaliser une application de mon choix. J’ai donc décidé de réaliser une application de pari avec un dé virtuel, le principe est simple, choisir une face de 1 à 6 miser une fausse somme d’argent et  lancer le dé.</p>
                <p class="lead text-muted">Au bout d’ une petite semaine j’ai pu réaliser “Saikorobetto” mon application de pari de dé. J’ai pu créer l'entièreté du programme, corriger la plupart des bugs, trouvé de nouvelles fonctionnalités aà WinDev et WLangage (comme la gestion de fichiers média), et aussi produire un fichier d’installation afin de pouvoir le télécharger et le tester soi-même ->Voir ici<- </p>
                <p class="lead text-muted">Après cette initiation à Windev, j’ai été affecté sur un projet Symfony ayant pour objectif de réaliser un back-office d’administration en utilisant le bundle easy admin avec mes compétences et internet.</p>
                <p class="lead text-muted">Pendant la création du back-office j’ai passé de longues journées de debug, à trouver qu’un fichier n’est pas présent, que la version de symfony ou  de php ne correspondent pas ou alors que GitHub m'empêchait de continuer mon projet depuis chez moi à cause de son fichier ".gitignore" (empêche de commit les fichiers renseignés).
                    Après avoir lié easy admin à ma base de données, je rajoute des pages bootstrap afin de visualiser les articles de ma BDD.
                    Durant le stage j’aurai appris à utiliser WinDev le WLangage ainsi que le bundle easy admin de symfony.</p>
            </div>
        </div>
        <div class="row py-lg-5" id="spawn">
            <div class="col-lg-9 col-md-8 mx-auto" style="background-color: #343434">
                <br>
                <h1 class="fw-light typewriter titre toB">- SaikoroBetto -</h1>
                <br>
                <p class="lead">Pour ma formation a WinDev on m'a de meandé de créer un logiciel librement tout en me rajoutant des demandes au fur et à mesure.</p>
                <div class="d-flex justify-content-center bd-highlight mb-3">
                    <div class="p-2 bd-highlight"><h1>CONTEXTE</h1><p>Formation à Windev et au WLangage.</p></div>
                    <div class="p-2 bd-highlight"><img class="d-block w-100 rounded float-right" src="{{asset('assets/image/imstage2_8.png')}}" alt="photo mdl"></div>
                </div>
                <div class="d-flex justify-content-center bd-highlight mb-3">
                    <div class="p-2 bd-highlight"><img class="d-block w-50 rounded float-left" src="{{asset('assets/image/imstage2_2.png')}}" alt="photo mdl"></div>
                    <div class="p-2 bd-highlight"><h1>TRAVAIL REALISE</h1><p>Création dune application de pari de dé.</div>
                </div>
                <div class="d-flex justify-content-center bd-highlight mb-3">
                    <div class="p-2 bd-highlight"><h1>OUTILS UTILISES</h1><p>Windev/WLangage</p></div>
                    <div class="p-2 bd-highlight"><img class="d-block w-100 rounded float-right" src="{{asset('assets/image/imstage2_2bis.png')}}" alt="photo mdl"></div>
                </div>
                <br>
                <h1>COMPETENCES</h1>
                <p class="lead"><g>1.5 Mettre à disposition des utilisateurs un service informatique</g></p>
                <p class="lead textLeft">
                    •	Réaliser les tests d’intégration et d’acceptation d’un service<br>
                    •	Déployer un service<br>
                    •	Accompagner les utilisateurs dans la mise en place d’un service<br>
                </p>
            </div>
        </div>
        <div class="row py-lg-5" id="spawn">
            <div class="col-lg-9 col-md-8 mx-auto" style="background-color: #343434">
                <br>
                <h1 class="fw-light typewriter titre toB">- BackOffice Administration -</h1>
                <br>
                <p class="lead">On m'a assigné à la création d'un BackOffice d'administration pour gérer une BDD plus facilement depuis le site.</p>
                <div class="d-flex justify-content-center bd-highlight mb-3">
                    <div class="p-2 bd-highlight"><h1>CONTEXTE</h1><p>Créer une interface administrateur base de données avec le bundle EasyAdmin sur Symfony.</p></div>
                    <div class="p-2 bd-highlight"><img class="d-block w-100 rounded float-right" src="{{asset('assets/image/imstage2_11.png')}}" alt="photo mdl"></div>
                </div>
                <div class="d-flex justify-content-center bd-highlight mb-3">
                    <div class="p-2 bd-highlight"><img class="d-block w-50 rounded float-left" src="{{asset('assets/image/imstage2_10.png')}}" alt="photo mdl"></div>
                    <div class="p-2 bd-highlight"><h1>TRAVAIL REALISE</h1><p>Réalisation site Symfony avec bundle EasyAdmin.</div>
                </div>
                <div class="d-flex justify-content-center bd-highlight mb-3">
                    <div class="p-2 bd-highlight"><h1>OUTILS UTILISES</h1><p>SublimeText/phpmyadmin/symfony/twig/html/css/sql</p></div>
                    <div class="p-2 bd-highlight"><img class="d-block w-100 rounded float-right" src="{{asset('assets/image/imstage2_12.png')}}" alt="photo mdl"></div>
                </div>
                <br>
                <h1>COMPETENCES</h1>
                <p class="lead"><g>1.1 Gérer le patrimoine informatique</g></p>
                <p class="lead textLeft">
                    •	Recenser et identifier les ressources numériques<br>
                    •	Exploiter des référentiels, normes et standards adoptés par le prestataire informatique<br>
                    •	Mettre en place et vérifier les niveaux d’habilitation associés à un service<br>
                    •	Vérifier les conditions de la continuité d’un service informatique<br>
                    •	Gérer des sauvegardes<br>
                    •	Vérifier le respect des règles d’utilisation des ressources numériques<br>
                </p>
                <p class="lead"><g>1.2 Répondre aux incidents et aux demandes d’assistance et d’évolution</g></p>
                <p class="lead textLeft">
                    •	Collecter, suivre et orienter des demandes<br>
                    •	Traiter des demandes concernant les services réseau et système, applicatifs<br>
                    •	Traiter des demandes concernant les applications<br>
                </p>
                <p class="lead"><g>1.4 Travailler en mode projet</g></p>
                <p class="lead textLeft">
                    •	Analyser les objectifs et les modalités d’organisation d’un projet<br>
                    •	Planifier les activités<br>
                    •	Évaluer les indicateurs de suivi d’un projet et analyser les écarts<br>
                </p>
            </div>
        </div>
    </section>
{% endblock %}